<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用Canvas图片压缩</title>
</head>
<body>
    <input id="img" type="file" value="请选择图片" >
    <canvas id="canvas"></canvas>
    <script src="pages/canvasCompress/index.js"></script>
</body>
</html>