<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>共享Web Worder</title>
</head>
<body>
    <div>
        <form action="">
            <div>
                <label for="number1"></label>
                <input type="text" id="number1" value="1">
            </div>
            <div>
                <label for="number2"></label>
                <input type="text" id="number2" value="2">
            </div>
        </form>
        <p class="result"></p>
    </div>
</body>
<script src="pages/webWorker/shareWorker.js"></script>