<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>专用Web Worder</title>
</head>
<body>
    <h1>Web<br>Workers<br>basic<br>example</h1>
    <div>
        <form action="">
            <div>
                <label for="number1"></label>
                <input type="text" id="number1" value="0">
            </div>
            <div>
                <label for=""></label>
                <input type="text" id="number2" value="0">
            </div>
        </form>
        <p class="result">Result: 0</p>
    </div>
</body>
<script src="pages/webWorker/webWorker.js"></script>
<script src="pages/webWorker/simpleWorker.js"></script>